*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}
body{
  min-height: 100vh;
  width: 100%;
}
.main{
  position: relative;
  width: 100%;
  height: 100vh;
  background:url('ben-griffiths-2t-InoWsItg-unsplash.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.panel{
  height: 80%;
  width: 80%;
  background:url('ben-griffiths-2t-InoWsItg-unsplash.jpg') no-repeat center center/cover;
  box-shadow: 5px 5px 5px #2f2d2d, -5px -5px 5px #2f2d2d;
}
#loader{
height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:url('game-characters-1744210_1920.jpg') no-repeat center center/cover;
  position: fixed;
  color: #0d0d0d;
  gap:10vh;
  z-index: 99;
}

.ptop{
  display: flex;
  padding: 0px 10%;
  align-items: cneter;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  border: 3px solid #545454;
 
}
.box{
  padding:1vh;
  /*border: 2px solid red;*/
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background-color: transparent;
}
.elem{
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 2vh;
  gap: 1vh;
  color: white;
  background-color:transparent;
  border-radius: 10px;
  border: 5px solid #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s all ease-in-out;
}
.elem:hover{
  cursor: pointer;
  background-color: white;
  color:#0d0c0d;
}
/*---------------------- pbottom css----------------*/  
.pbottom{
  display: flex;
  flex-wrap: wrap;
  padding: 2vh;
  width: 100%;
  height: calc(100% - 10vh);
  /*border: 2px solid green;*/
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.pbottom h1{
  color:white;
  font-size: 10vw;
  font-weight: 600;
}
.bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5vw;
  font-weight: 400;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color:#666666;
  transition: 0.1s all ease-in-out;
}
.bubble:hover{
  cursor: pointer;
  background-color: transparent;
  border: 5px solid white;
}
.bubble:active{
  scale: 2.5;
}
button{
  background-color: black;
  color:#30f83e;
  font-size: 4vh;
  font-weight: 5vw;
  padding: 7px;
  border: 2px solid #092504;
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
}
button:hover{
  cursor: pointer;
  background-color: #0df814;
  color: black;
}
.Score-manager{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
  /*border: 2px solid blue;*/
}
.right-hit{
  display: flex;
  font-size: 2.5vh;
  border-radius: 10px;
  padding: 1vh;
  justify-content: center;
  align-items: cneter;
  color: white;
  background-color: green;
  gap: 0.9vh;
  transition: 0.5s all ease-in-out;
}
.right-hit:hover{
  cursor: pointer;
  background-color: transparent;
  border: 3px solid green;
}
.wrong-hit{
  display: flex;
  font-size: 2.5vh;
  border-radius: 10px;
  padding: 1vh;
  background-color:#990003;
  color: white;
  gap: 0.9vh;
  transition: 0.5s all ease-in-out;
}
.wrong-hit:hover{
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #990003;
}
.res{
  display: flex;
  font-size: 2.5vh;
  border-radius: 10px;
  padding: 1vh;
  justify-content: center;
  align-items: cneter;
  color: white;
  background-color:#0a240a;
  gap: 0.9vh;
  transition: 0.5s all ease-in-out;
}
.res:hover{
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #0a240a;
}
@media(max-width:800px)
{
 
.ptop{
  display: flex;
  gap: 0.5vh;
} 

.elem{
  height: 3vh;
  padding: 1vw;
  border: none;
}
  .Score-manager{
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    gap: 1vh;
    
  }
.panel{
  overflow: hidden;
}
.bubble{
  width: 7.5vh;
  height: 6.5vh;
  font-size: 2vh;
  font-weight: 400;
}

#loader{
  font-size: 4vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}  
}
